@import "src/css/app.scss"; // Asegúrate de que la ruta sea correcta

.bttn-amarillo {
  background-color: $color2;
  color: $color-text;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 14px; /* Tamaño de texto especificado en 14px */
  font-family: "Mulish", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(
      $color2,
      0.9
    ); // Reduce un poco la opacidad para "oscurecer"
  }
}
