.filtro-menu {
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

.titulo {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.subtitulo {
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.opcion {
  font-size: 12px;
  margin-bottom: 10px;
}


 