@import "src/css/app.scss"; // Importa los estilos globales desde app.scss para usar variables y configuraciones globales

// Estilos para el contenedor principal del menú de filtro
.filtro-menu {
  background-color: $color-gray; // Fondo gris para el menú de filtro
  padding: 20px; // Espaciado interno
  border-radius: 10px; // Bordes redondeados
  width: 250px; // Ancho fijo para el contenedor
}

// Estilos para el título del menú de filtro
.titulo {
  font-size: $font-size-title; // Tamaño de fuente definido para títulos
  font-weight: $font-weight-bold; // Peso de fuente en negrita
  font-family: "Mulish", sans-serif; // Fuente Mulish
  margin-bottom: 5px; // Espacio inferior
  color: $color-text; // Color del texto
}

// Estilos para subtítulos de secciones dentro del menú de filtro
.subtitulo {
  font-size: $font-size-subtitle; // Tamaño de fuente para subtítulos
  font-weight: $font-weight-semi-bold; // Peso semi-bold
  font-family: "Mulish", sans-serif; // Fuente Mulish
  margin-top: 5px; // Espacio superior
  margin-bottom: 5px; // Espacio inferior
  color: $color-text; // Color del texto
}

// Estilos para cada opción dentro del menú de filtro
.opcion {
  font-size: $font-size-normal; // Tamaño de fuente normal
  font-weight: $font-weight-normal; // Peso de fuente normal
  font-family: "Quicksand", sans-serif; // Fuente Quicksand
  margin-bottom: 10px; // Espacio inferior entre opciones
  color: $color-text; // Color del texto
  display: flex; // Flexbox para alinear elementos en fila
  align-items: center; // Alinea verticalmente el checkbox y el texto
}

// Estilos personalizados para el checkbox
.custom-checkbox {
  appearance: none; // Quita el estilo predeterminado del navegador
  width: 18px; // Ancho del checkbox
  height: 18px; // Altura del checkbox
  border: 1px solid #000; // Borde negro
  border-radius: 4px; // Bordes redondeados
  cursor: pointer; // Cambia el cursor a puntero al pasar el ratón
  position: relative; // Para posicionar la palomita centrada
  margin-right: 8px; // Espacio a la derecha del checkbox
  background-color: transparent; // Fondo transparente por defecto
}

// Estilos para el checkbox cuando está seleccionado
.custom-checkbox:checked {
  background-color: #007bff; // Fondo azul cuando está seleccionado
  border-color: #007bff; // Borde azul cuando está seleccionado
}

// Estilos para la palomita dentro del checkbox cuando está seleccionado
.custom-checkbox:checked::before {
  content: "\2714"; // Símbolo de la palomita
  position: absolute;
  top: 50%; // Posiciona en el centro verticalmente
  left: 50%; // Posiciona en el centro horizontalmente
  transform: translate(-50%, -50%); // Centra completamente
  color: white; // Color blanco para la palomita
  font-size: 12px; // Tamaño de la palomita
}
