@import "src/css/app.scss"; // Importa los estilos globales para acceder a variables y configuraciones globales

// Estilos para el botón gris
.bttn-gris {
  background-color: #eae8e5; // Color de fondo gris claro
  color: #5b5552; // Color de texto gris oscuro
  padding: 6px 20px; // Espacio interno reducido en el eje vertical y más amplio en el horizontal
  border-radius: 10px; // Bordes redondeados de 10px
  border: none; // Sin borde
  font-size: 14px; // Tamaño de fuente para el texto del botón
  font-family: "Mulish", sans-serif; // Fuente Mulish
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra suave para efecto de elevación
  cursor: pointer; // Cambia el cursor a puntero en hover
  transition: background-color 0.3s ease; // Transición suave para el cambio de color en hover
  display: flex; // Flexbox para alinear contenido (ícono y texto)
  align-items: center; // Alinea verticalmente el ícono y texto al centro
  gap: 8px; // Espacio entre el ícono y el texto

  // Efecto hover: cambio de color de fondo al pasar el ratón
  &:hover {
    background-color: rgba(
      234,
      232,
      229,
      0.9
    ); // Gris claro con menor opacidad en hover
  }

  // Estilos específicos para el ícono dentro del botón
  i {
    font-size: 20px; // Tamaño del ícono
    color: inherit; // Aplica el mismo color que el texto del botón
  }
}
