/* Archivo: Destinos.scss */
@import "src/css/app.scss"; /* Asegúrate de que la ruta sea correcta */

/* Título de la sección "Actividades recomendadas" */
.titulo-seccion {
  color: $color4; /* Aplica el color definido en app.scss */
  font-size: $font-size-title; /* Aplica el tamaño de fuente definido en app.scss */
  font-family: "Mulish", sans-serif; /* Aplica la fuente Mulish para los títulos */
  font-weight: $font-weight-bold; /* Aplica el peso de fuente definido */
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Contenedor principal */
.contenido-principal {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

/* Estilos para el contenedor de búsqueda y botones */
.buscar-y-botones {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

/* Estilos para los botones grises */
.botones-gris {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
}

/* El campo de búsqueda ocupa el espacio restante */
.buscar-contenedor {
  flex-grow: 1;
}

/* Contenedor de tarjetas */
.tarjetas-contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas para las tarjetas */
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
}

/* Estilos individuales de la tarjeta */
.tarjeta {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: auto;
  min-height: 250px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff; /* Fondo blanco para resaltar la tarjeta */
}

/* Estilo para la imagen dentro de la tarjeta */
.tarjeta img {
  width: 100%;
  height: auto;
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra sutil en la imagen */
}

/* Ajuste del contenido de la tarjeta */
.tarjeta .contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px;
  overflow: hidden;
  height: auto;
}

/* Estilos para enlaces o botones dentro de la tarjeta */
.tarjeta .contenido a {
  margin-top: auto;
}

/* Contenedor de imágenes de tarjetas */
.card-images-container {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 20px;
}

/* Estilo específico para CardTittle */
.card-tittle {
  position: relative;
  max-width: 250px; /* Ajusta el tamaño de la tarjeta */
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.card-tittle__imagen {
  width: 100%;
  border-radius: 15px;
}

.card-tittle__nombre {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
  color: #000;
}
