<div class="footer-bar">
  <!-- Sección de íconos de redes sociales -->
  <div class="social-icons">
    <a
      href="https://www.facebook.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="bi bi-facebook icon"></i>
    </a>
    <a
      href="https://www.instagram.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="bi bi-instagram icon"></i>
    </a>
    <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-twitter icon"></i>
    </a>
    <!-- Icono actualizado a Twitter X -->
  </div>

  <!-- Sección de texto de derechos reservados -->
  <div class="copyright">
    <p>Copyright © 2024 Xplora</p>
    <p>
      El presente sitio web es operado por Xplora, S. de R.L. de C.V. Todos los
      derechos reservados. El uso de esta plataforma está sujeto a nuestros
      Términos y Condiciones y Política de Privacidad.
    </p>
  </div>
</div>
