<!-- components/TarjetaActividades/TarjetaActividades.template.html -->
<div class="tarjeta-actividades">
  <!-- Imagen de la actividad, usa la prop 'imagen' como fuente y 'titulo' como texto alternativo -->
  <img class="actividades-imagen" :src="imagen" :alt="titulo" />

  <!-- Contenedor de contenido textual de la actividad -->
  <div class="actividades-contenido">
    <p class="actividades-lugar">{{ lugar }}</p>
    <!-- Muestra el lugar de la actividad -->
    <h3 class="actividades-titulo">{{ titulo }}</h3>
    <!-- Muestra el título de la actividad -->
    <p class="actividades-descripcion">{{ descripcion }}</p>
    <!-- Muestra la descripción de la actividad -->

    <!-- Contenedor del botón de acción -->
    <div class="boton-contenedor">
      <bttnAmarillo class="boton-pequeno" label="Leer más" />
      <!-- Botón de acción para leer más -->
    </div>
  </div>
</div>
