@import "src/css/app.scss";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* Fondo blanco */
  padding: 10px 20px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 30px;
  margin-right: 8px;
}

.logo-text {
  font-family: "Mulish", sans-serif; /* Aplica Mulish a la logo-text */
  font-size: 28px;
  color: $color4; /* Usando una variable de color llamativa */
  font-weight: $font-weight-bold;
}

.header-center {
  display: flex;
  gap: 20px;
  font-size: $font-size-title; /* Usando tamaño de fuente para títulos */
  color: $color-text;
  font-family: "Quicksand", sans-serif; /* Aplica Quicksand a los elementos del centro */
}

.language,
.contact {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Quicksand", sans-serif; /* Aplica Quicksand a español y contacto */
  font-size: 16px; /* Tamaño de fuente específico de 16px */
  color: $color-text;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  color: $color-text; /* Color de texto global para iconos */
}

.header-right i {
  color: $color-text; /* Color negro para los iconos individuales */
}
