@import "src/css/app.scss"; // Asegúrate de que la ruta sea correcta

/* Estilos generales del contenedor del footerInfo */
.footerInfo {
  display: flex;
  justify-content: space-between;
  padding: 20px 180px; /* Aumenta el padding lateral para crear más espacio en los extremos */
  background-color: $color6;
  color: $color-text;
}

/* Estilo para las secciones de ancho igual con límite de ancho */
.footerInfo .section {
  flex: 1;
  padding: 0 10px;
  box-sizing: border-box;
  max-width: 30%; /* Limita el ancho de cada sección al 30% del contenedor */
}

/* Títulos de las secciones */
.footerInfo .section-title {
  font-size: $font-size-title;
  font-weight: $font-weight-bold;
  margin-bottom: 10px;
  color: $color-text;
  font-family: "Mulish", sans-serif;
}

/* Estilos para las listas de enlaces */
.footerInfo .list {
  list-style-type: none;
  padding: 0;
}

.footerInfo .list-item {
  margin: 5px 0;
  font-size: $font-size-normal;
  display: flex;
  align-items: center;
  color: $color-text;
  font-family: "Quicksand", sans-serif;
}

/* Icono de chevron con Bootstrap Icons */
.footerInfo .icon {
  margin-right: 5px;
  font-size: $font-size-normal;
  color: $color-text;
}

.footerInfo .link {
  color: inherit;
  text-decoration: none;
}

.footerInfo .link:hover {
  text-decoration: underline;
}

/* Estilos para el texto de contacto */
.footerInfo .contact-text {
  margin: 5px 0;
  font-size: $font-size-small;
  color: $color-text;
  font-family: "Quicksand", sans-serif;
}

/* Responsive design */
@media (max-width: 768px) {
  .footerInfo {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px; /* Reduce el padding en móviles */
  }
  .footerInfo .section {
    width: 100%;
    max-width: none; /* Elimina el límite de ancho en móviles */
    margin-bottom: 20px;
  }
}
